.manager-dimmer {
    background-color: rgba(0, 0, 0, 0.8);
}

.power-dialog-box {
    background-color: $bg;
    color: $fg;
    padding: 1.5rem;
    border: 1.5px solid $primary;

    * {
        all: unset;
        font-family: "JetBrainsMonoNL Nerd Font";
        font-size: 12px;
    }

    .power-dialog-title {
        font-size: 1.35rem;
        font-weight: bold;
        color: $primary;
    }

    .power-dialog-buttons .dialog-button-confirm {
        background-color: $primary;
        color: $bg;

        &:hover {
            background-color: #dcb8ff;
        }
    }

    .power-dialog-buttons .dialog-button-cancel {
        background-color: $secondary;
        color: $bg;

        &:hover {
            background-color: #fdd6f0;
        }
    }

    .dialog-button-cancel-text {
        font-size: 1rem;
        background-color: transparent;
        font-weight: bold;
        padding: 0.3rem 1rem;
        color: $bg;
    }

    .dialog-button-confirm-text {
        font-size: 1rem;
        background-color: transparent;
        font-weight: bold;
        padding: 0.3rem 1rem;
        color: $bg;
    }
}